{% extends 'frontend_layout.html.twig' %}

{% block wrapper %}
<div class="wrapper">
    <div class="container">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">首页</a></li>
                {% if category.parent == null %}
                <li class="active">{{ category.name }}</li>
                {% else %}
                    <li><a href="{{ path('category_list',{'id':category.parent.id}) }}">{{ category.parent.name }}</a></li>
                    <li class="active">{{ category.name }}</li>
                {% endif %}
            </ol>
        </div>
    </div>


    <div class="container sub-category-link">
        {% if category.children is not empty %}
        {% for category in category.children %}
            <span class="sub-category-span"><a href="{{ path('category_list',{'id':category.id}) }}">{{ category.name }}</a></span>
        {% endfor %}
            {% elseif category.parent is not empty %}

                {% for category in category.parent.children %}
                    <span class="sub-category-span"><a href="{{ path('category_list',{'id':category.id}) }}">{{ category.name }}</a></span>
                {% endfor %}
        {% endif %}
    </div>


    <div class="container">
        <h2>{{ category.name }}</h2>
        <hr>
    </div>

    <div class="container">
        {% if category.products is not empty %}
            {% for product in category.products %}
                <div class="col-xs-12 col-sm-6 col-md-3 product-block">
                    <div class="thumbnail">
                        <div class="thumbnail-header"></div>
                        <a href="{{ path('product_detail',{'id':product.id}) }}"><img src="{{ asset('uploads/products/'~ product.path ) }}"></a>
                    </div>
                    <h4>{{ product.name }}</h4>
                    <p>¥ {{ product.price }}</p>
                </div>
            {% endfor %}
        {% endif %}

        {% if category.children is not empty %}
            {% for category in category.children %}
                {% for product in category.products %}
                    <div class="col-xs-12 col-sm-6 col-md-3 product-block">
                        <div class="thumbnail">
                            <div class="thumbnail-header"></div>
                            <a href="{{ path('product_detail',{'id':product.id}) }}"><img src="{{ asset('uploads/products/'~ product.path ) }}"></a>
                        </div>
                        <h4>{{ product.name }}</h4>
                        <p>¥ {{ product.price }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


    </div>


</div>

{% endblock %}
