{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}


{% block body %}
    <div class="main-wrapper">
        <div class="primary-col">
            <div class="primary-col-inner">
                <div class="wrapper">
                    <div class="vg-logo">
                        <span>G</span>
                    </div>
                    <div class="sidebar-widget" id="nav-primary-widget">
                        <ul class="nav-primary nav nav-list active">
                            <li>
                                <a class="primary-link" aria-controls="settings-children" aria-expanded="false" data-toggle="collapse" data-target="#settings-children"><i class="fa fa-cog"></i>设置 <span class="caret"></span></a>
                                <ul class="nav-secondary collapse
                                   {% if app.request.attributes.get('_route') == 'admin_settings_homepage' %}
                                   in
                                   {% endif %}"
                                    id="settings-children">
                                    <a href="{{ path('admin_settings_homepage') }}"><i class="fa fa-home"></i>首页设置</a>
                                </ul>
                            </li>
                        </ul>
                        <ul  class="nav-primary nav nav-list">
                            <li>
                                <a class="primary-link"  href="{{ path('admin_brand_new') }}"><i class="fa fa-cog"></i>品牌</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% block rightColumn %}    {% endblock %}
    </div>
{% endblock %}



{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{ asset('js/pace.js') }}"></script>
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}