{% extends 'backend_layout.html.twig' %}
{% block rightColumn %}
    <div class="right-column wrapper">
        <div class="container right-column-container">
            <h1 class="right-column title">添加品牌</h1>
            <hr>


            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success" role="alert">
                    <div class="flash-notice">
                        {{ flash_message }}
                    </div>
                </div>
            {% endfor %}



            <div class="company-form col-xs-4">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':'例如:Blackmores'}}) }}

                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':'例如:澳洲知名保健品'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.file) }}
                    {{ form_widget(form.file) }}
                </div>


                {{ form_widget(form.save,{'attr':{'class':'btn btn-primary'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}