{% extends 'frontend_layout.html.twig' %}

{% block wrapper %}
    <div class="wrapper">
        <div class="intro">
            <div class="container intro-container">
                <h1 class="text-center">{{ settings.mainHeading }}</h1>
                <h3 class="text-center">{{ settings.subHeading }}</h3>
            </div>
        </div>


        <div class="partner"><h1 class="text-center">{{ settings.partnerHeading }}</h1></div>

        <div class="container">
                <div class="brand-wrapper">
                    {% if categories !=null %}
                        {% for category in categories %}
                            {% if category.parent == null %}
                                <div class="container brand-category-container"><h3 class="brand-category">{{category.name}}</h3></div>
                                {% for brand in category.brands %}

                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                    {% else %}
                        {% for brand in brands %}
                            <div class="col-xs-12 col-sm-4 col-md-2 brand-logo text-center">
                                {% if brand.products is empty %}
                                    <a href="http://www.google.com"> <img src="{{ asset('images/'~ brand.logoUrl ~'' ) }}" alt=""/></a>
                                {% else %}
                                    <a href="http://www.baidu.com"> <img src="{{ asset('images/'~ brand.logoUrl ~'' ) }}" alt=""/></a>
                                {% endif %}
                            </div>
                        {% endfor %}

                    {% endif %}

                    {#<div class="container brand-category-container"><h3 class="brand-category">保健护肤</h3></div>#}

                    {#<div class="col-xs-6 col-sm-4 col-md-2 brand-logo">#}
                        {#<img src="{{ asset('images/demo2.jpg') }}" alt="">#}
                    {#</div>#}

                    {#<div class="col-xs-6 col-sm-4 col-md-2 brand-logo">#}
                        {#<img src="{{ asset('images/demo1.jpg') }}" alt="">#}
                    {#</div>#}
                    {#<div class="col-xs-6 col-sm-4 col-md-2 brand-logo">#}
                        {#<img src="{{ asset('images/demo3.png') }}" alt="">#}
                    {#</div>#}


                    {#<div class="row">#}
                            {#<div class="col-sm-12 col-md-4">#}
                                {#<div class="thumbnail">#}
                                    {#<img src="{{ asset('images/demo2.jpg') }}" alt="">#}
                                    {#<div class="caption">#}
                                        {#<p>#}
                                            {#德国领先的高端奶粉品牌，是德国市场份额第一的奶粉，也是欧洲销量最好的奶粉之一。#}
                                            {#爱他美奶粉产自德国，是德国美乐宝（Milupa）集团旗下品牌，后美乐宝被达能集团收购。2007年，达能再收购Royal Numico（纽迪希亚持有人），将旗下的婴幼儿营养及医学营养进行了内部合并。爱他美与诺优能、可瑞康三个奶粉品牌均属于纽迪希亚旗下。#}
                                        {#</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="col-sm-12 col-md-4">#}
                                {#<div class="thumbnail">#}
                                    {#<img src="{{ asset('images/demo1.jpg') }}" alt="">#}
                                    {#<div class="caption">#}
                                        {#<p>Blackmores，又名澳佳宝。是澳大利亚的第一品牌保健品。提供一系列高品质的维生素、矿物质、草药以及营养补充品。澳佳宝成立于1930年，已经有近80年历史。经过80年努力，它已经成长为澳洲本土及全世界最被信任的生活科技健康食品公司。</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}

                        {#<div class="col-sm-12 col-md-4">#}
                            {#<div class="thumbnail">#}
                                {#<img src="{{ asset('images/demo3.png') }}" alt="">#}
                                {#<div class="caption">#}
                                    {#<p>Swisse品牌于50年代后期成立于澳大利亚的墨尔本，是澳洲自然医学疗法的先驱之一，所有临床研究均在澳洲知名高等学府进行。其采用最科学的配方与最优质的原材料，所有产品均经过临床认证，安全有效。该品牌在澳大利亚的口碑高于Blackmores，是澳洲当地最好的维生素品牌，品质卓著，在澳大利亚联邦医药署的高强控制下，确保您能安心服用。</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>
        </div>
    </div>

    <input type="hidden" id="ajax-product" value="{{ url('ajax_get_product') }}">
{% endblock %}

