{% extends 'frontend_layout.html.twig' %}

{% block wrapper %}
    <div class="wrapper">
        <div class="intro">
            <div class="container intro-container">
                <h1 class="text-center">{{ settings.mainHeading }}</h1>
                <h3 class="text-center">{{ settings.subHeading }}</h3>
            </div>
        </div>


        <div class="partner"><h1 class="text-center">{{ settings.partnerHeading }}</h1></div>

        <div class="container">
                <div class="brand-wrapper">
                    {% if categories !=null %}
                        {% for category in categories %}
                            {% if category.parent == null %}
                                <div class="container brand-category-container">
                                         <a href="{{ path('category_list',{'id':category.id}) }}">
                                             <span class="brand-category">{{category.name}}</span>
                                         </a>
                                </div>

                                {% for brand in category.brands %}
                                <div class="col-xs-12 col-sm-4 col-md-2 brand-logo text-center">
                                       <a href="brand.website"> <img src="{{ asset('uploads/brands/'~ brand.path ~'' ) }}" alt=""/></a>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {# if there is only record of brand,output this way. #}
                        {% for brand in brands %}
                            <div class="col-xs-12 col-sm-4 col-md-2 brand-logo text-center">
                                <a href="{{ brand.website }}"> <img src="{{ asset('uploads/brands/'~ brand.path ~'' ) }}" alt=""/></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
        </div>

        {# if there is any brand which is not linked to any product, show it in the other-brand div #}
        <div class="other-brands container">
            <div class="container brand-category-container">
                <span class="brand-category">其他品牌</span>
            </div>
            <div class="container">
                {% for brand in brands %}
                    {% if brand.products is empty %}
                        <div class="col-xs-12 col-sm-4 col-md-2 brand-logo text-center">
                            <a href="{{ brand.website }}"> <img src="{{ asset('uploads/brands/'~ brand.path ~'' ) }}" alt=""/></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <input type="hidden" id="ajax-product" value="{{ url('ajax_get_product') }}">
{% endblock %}

