{% extends 'frontend_layout.html.twig' %}

{% block wrapper %}
    <div class="wrapper">

        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">首页</a></li>
                        <li class="active">{{ product.name }}</li>
                </ol>
            </div>
        </div>

        <div class="container sub-category-link">
            {% if product.categories is not empty %}
                {% for category in product.categories %}
                    {% if category.parent is not empty %}
                        {% for c in category.parent.children  %}
                            <span class="sub-category-span"><a href="{{ path('category_list',{'id':c.id}) }}">{{ c.name }}</a></span>
                         {% endfor %}
                    {% else %}
                            <span class="sub-category-span"><a href="{{ path('category_list',{'id':category.id}) }}">{{ category.name }}</a></span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="container product-container">
            <div class="product-area">
                <div class="row product-row">
                    <div class="col-sm-6 image-container">
                        <div class="image-inner">
                            <img src="{{ asset('uploads/products/a2.jpg') }}" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2>A2 2段奶粉</h2>
                        <hr>

                        <p class="product-price">
                            本店零售价 ¥170
                        </p>

                        <hr>
                        <p class="product-desc">
                            新旧包装，随机发货！A2奶粉在澳洲被称为奶粉中的爱马仕，是新西兰的高端奶粉。奶粉中特有的A2-βL酪蛋白，能更天然的呵护消化吸收系统，全方位保护宝宝的小肚子。要知道A2-βL酪蛋白的奶源非常稀缺，西方奶牛中只有约为30%能产出哦~
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
