{% extends 'frontend_layout.html.twig' %}

{% block wrapper %}
    <div class="wrapper">

        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">首页</a></li>
                        <li class="active">{{ product.name }}</li>
                </ol>
            </div>
        </div>

        <div class="container sub-category-link">
            {% if subCategories is not empty %}
                {% for category in subCategories %}
                    <span class="sub-category-span"><a href="{{ path('category_list',{'id':category.id}) }}">{{ category.name }}</a></span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container product-container">
            <div class="product-area">
                <div class="row product-row">
                    <div class="col-sm-6 image-container">
                        <div class="image-inner">
                            <img src="{{ asset('uploads/products/'~ product.path ) }}">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2>{{ product.name }}</h2>
                        <hr>

                        <p class="product-price">
                            售价 ¥{{ product.price }}
                        </p>

                        <hr>
                        <p class="product-desc">
                            {{ product.description }}
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
