{% extends 'frontend_layout.html.twig' %}

{% block wrapper %}
    <div class="wrapper">

        <div class="container">
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">首页</a></li>
                    <li class="active">{{ brand.name }}</li>
                </ol>
            </div>
        </div>

        <div class="container">

            {% if brand.path is not empty %}
                    <div class="brand-logo"><img src="{{ asset('uploads/brands/'~ brand.path ~'' ) }}"></div>
            {% else %}
                    <h2>{{ brand.name }}</h2>
            {% endif %}

            {% if brand.description is not empty %}
            <p class="brand-desc well">
                {{ brand.description }}
            </p>
            {% endif %}

        </div>


        {% if brand.products is not empty %}
                <div class="container" id="brand-products">
                    <h3 class="text-center">{{ brand.name }} 的产品</h3>

            {% for product in brand.products %}
                    <div class="col-xs-12 col-sm-6 col-md-3 product-block">
                        <div class="thumbnail">
                            <div class="thumbnail-header"></div>
                            <a href="{{ path('product_detail',{'id':product.id}) }}"><img src="{{ asset('uploads/products/'~ product.path ) }}"></a>
                        </div>
                        <h4>{{ product.name }}</h4>
                        <p>¥ {{ product.price }}</p>
                    </div>
            {% endfor %}

                </div>
        {% endif %}


    </div>

{% endblock %}
